.header {
  height: 60px;
  width : 100%;
  background: #fffcfc;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-size: 2em;
  border-top: 1px solid #808a8f;
}
.headerSection {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
  box-sizing: border-box;
}
.headerIcon {
  height: 25px;
}
.headerSectionText {
  text-transform: capitalize;
  font-size: 10px;
}
.headerSectionTextActive {
  color: green;
  text-transform: capitalize;
  font-size: 10px;
}
.avatarWraper {
  position: relative;
  bottom: 35px;
  z-index: 1111;
  color: #808a8f;
  line-height: 25px;
}