.homeMain {
  background: #0c0cd2;
  padding: 50px 25px;
  height: 70px;
}
.homeMainBox {
  background: #fff;
  border-radius: 3px;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #d8d8d8;
  display: flex;
}
