.userDetailsMain {
    position: relative;
    bottom: 251px;
    text-align: center;
    width: 100vw;
    z-index: -11;
    -webkit-animation: expand 2s;
}
@-webkit-keyframes expand{
    0%{height:0px}
    100%{height:250px}
}
.userDetailsSubTop {
    height: 100px;
    background: #f2f2f2;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
.userDetailsSubBottom {
    height: 150px;
    background: #f2f2f2;
}